# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# XCode project data 
redis3m.xcodeproj/xcuserdata

# Vagrant data
vagrant/.vagrant
